[Unit]
Description=Clear Creek Scientific Weather Server
After=dbus.service bluetooth.service
Requires=dbus.service bluetooth.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
WorkingDirectory=/opt/ccs/WeatherStation
ExecStart=/opt/ccs/venv_weatherstation/bin/python3 /opt/ccs/WeatherStation/data_server.py
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target

